rabbitmq:
  plugin:
    rabbitmq_management:
      - enabled
  policy:
    rabbitmq_policy:
      - name: HA
      - pattern: '.*'
      - definition: '{"ha-mode": "all"}'
    rabbitmq_policy_vhost1:
      - name: HA
      - pattern: '.*'
      - definition: '{"ha-mode": "all"}'
      - vhost: 'vhost1'
  vhost:
    virtual_host:
      - user: rabbit_user
      - conf: .*
      - write: .*
      - read: .*
  user:
    user1:
      - password: password
      - force: True
      - tags: monitoring, user
      - perms:
        - '/':
          - '.*'
          - '.*'
          - '.*'
      - runas: root
    user2:
      - password: password
      - force: True
      - tags: monitoring, user
      - perms:
        - '/':
          - '.*'
          - '.*'
          - '.*'
      - runas: root
  cluster:
    host1:
      - user: rabbit
      - host: host1
    host2:
      - user: rabbit
      - host: host2
{#- vim:ft=sls
-#}
